* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),  url('../asset/hero/hero-l.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
    width: 100%;
    display: block;
    padding: 0 10px;
}
.logo {

}
.logo img {
    width: 40px;
    height: 40px;
}
.hamburger {
    display: none;
}
.menu ul li {
    list-style: none;
}

/*==========================================
================SECTION ONE=================
============================================*/

/*==========================================
================SECTION TWO=================
============================================*/

/*==========================================
================SECTION THREE=================
============================================*/

/*==========================================
================SECTION FOUR=================
============================================*/


/*==========================================
================MEDIA QUERY=================
============================================*/


@media only screen and (min-device-width: 0) {

    /*==========================================
    ================SECTION ONE=================
    ============================================*/
    
    .container {
        padding-top: 0;
        background-position: center;
    }
    .menu {
        display: none;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .logo {
        width: 40px;
        height: 40px;
    }
    .hamburger {
        width: 28px;
        height: 28px;
        display: block;
        color: white;
    }
    .ham {

        width: 25px;
        height: 5px;
        background-color: white;
        display: block;
        margin: 3px auto;
        border-radius: 3px;
        transition: 3s ease-in-out;
        -webkit-transition: 3s ease-in-out;
    }
    }
    .hamburger.active .top {
        transform: rotate(45deg) translateY(8px);
    }
    .hamburger.active .middle {
        opacity: 0;
    }
    .hamburger.active .bottom {
        transform: rotate(-45deg) translateY(-8px);
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
        padding: 15px 0;
        margin-bottom: 10px;
    }

    /*==========================================
    ================SECTION ONE=================
    ============================================*/
    .sectiion-one{
        text-align: center;
        color: white;
    }
    .sectiion-one > * {
        padding: 20px ;
        margin: 5px 0;
    }

    form {
        padding: 10px 0;
    }
    input {
        padding: 5px 0;
        border: none;
        border-radius: 3px;
    }
    .location-button {
        padding: 5px;
        background-color: #ff2600b4;
        color: white;
        border-radius: 5px;
        border: none;
    }
    .follower-stat {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
    }
    .fa-brands {
        padding-right: 5px;
        transition: 3s ease-in-out;
    }
    .fa-brands:hover {
        font-weight: 700;
    }
    .fa-facebook-f {
        color: blue;
    }
    .fa-twitter {

    }
    .fa-instagram {

    }
    /*==========================================
    ================SECTION TWO=================
    ============================================*/

    .section-two {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../asset/secondSection/food-s.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        color: white;
        padding: 0 5px;
    }
    .section-two-span {
        margin-top: 10px;
        text-align: left;
        font-size: 1rem;
        position: absolute;
        left: 10%;
        margin-bottom: 15px;
        color: #ffffffb4;
    }

    .section-two > h2::before {
        content: "About Us";
        font-size: 1rem;
        position: absolute;
        left: 15px;
        color: #ff2600b4;

    }
    p {
        font-size: 1.4rem;
        padding: 10px 10px;
        line-height: 2rem;
    }
    .section-two-second-par {
        display: none;
    }
    .discover {
        padding: 10;
    }
    .discover {
        margin: 20px 0;
        padding: 5px 0;
        background-color: #ff2600b4;
        color: white;
        border: none;
        border-radius: 3px;
    }
    .discover .discover-menu {
        text-decoration: none;
        padding: 0 5px;
        color: white;
    }
    .discover .discover-menu i {
        padding: 0 5px;
    }


    /*==========================================
    ================SECTION THREE=================
    ============================================*/
    .section-three {
        padding: 0 5px;
        display: grid;
        place-items: center;
    }
    .order-online {
        color: #ff2600;
        padding-top: 10px;
        font-weight: 700;
    }
    .meal-class {
        margin-bottom: 5px;
    }
    .meal-class button {
        font-size: 1.5rem;
        border: none;
        color: #ff2600b4;
        padding: 0 2px;;
        border-bottom: 1px solid #ff2600b4;
        border-radius: 3px;
    }
    .breakfast:hover,
    .launch:hover,
    .dinner:hover,
    .dessert:hover,
    .shake:hover {
        color: #000;
        border-top: 1px solid #ff2600b4;
        border-right: 1px solid #ff2600b4;
        border-bottom: none;
        border-left: 1px solid #ff2600b4;
        background-color: #ff2600b4;
    }
    .meals {
        text-align: center;
    }

    .carousel-box {
        position: relative;
        width: 95%;
        height: auto;
        border: 1px solid red;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    .display {
        height: 300px;
        width: 250px;
        border: 1px solid red;
        margin: 10px auto;
    }
    .prev .fa-solid,
    .next .fa-solid {
        position: absolute;
        color: #ff2600b4;
        transition: all .3s;
    }
    .prev .fa-solid:hover,
    .next .fa-solid:hover {
        color: #ff2600;
        transform: scale(1.3);
    }
    .prev .fa-solid {
        left: 10px;
        top: 50%;
    }
    .next .fa-solid {
        right: 10px;
        top: 50%;
    }
    .image-container {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        height: 300px;
        border: 1px solid red;
    }
    .breakfast-image,
    .launch-image,
    .dinner-image,
    .dessert-image,
    .shake-image {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .breakfast-images img,
    .launch-images img,
    .dinner-images img,
    .dessert-images img,
    .shake-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .name-price-card {
        position: absolute;
        inset: 0;
    }
    .name-price-card > span {
        display: block;
    }

    /*==========================================
    ================SECTION FOUR=================
    ============================================*/


    /*==========================================
    ================MEDIA QUERY=================
    ============================================*/

}