* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
.container {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),  url('../asset/hero/hero-l.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
    width: 100%;
    display: block;
    padding: 0 10px;
}
.logo {

}
.logo img {
    width: 40px;
    height: 40px;
}
.hamburger {
    display: none;
}
.menu ul li {
    list-style: none;
}

/*==========================================
================SECTION ONE=================
============================================*/

/*==========================================
================SECTION TWO=================
============================================*/

/*==========================================
================SECTION THREE=================
============================================*/

.section-three {
    padding: 3rem 0;
}
.order-online {
    font-size: 1.1rem;
    color: #ff2600;
    font-weight: 700;
}
.section-three h2 {
    padding-top: 0;
}
.order-online, .section-three h2 {
    text-align: center;
}

.meal-class {
    margin-bottom: 5px;
    text-align: center;
}
.meal-class button {
    font-size: 1.5rem;
    border: none;
    color: #ff2600b4;
    padding: 0 2px;;
    border-bottom: 1px solid #ff2600b4;
    border-radius: 3px;
}
.breakfast:hover,
.launch:hover,
.dinner:hover,
.dessert:hover,
.shake:hover {
    color: #000;
    border-top: 1px solid #ff2600b4;
    border-right: 1px solid #ff2600b4;
    border-bottom: none;
    border-left: 1px solid #ff2600b4;
    background-color: #ff2600b4;
}
.meals {
    text-align: center;
}

.carousel-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 820px;
    padding: 5px;
}
.prev, .next {
    font-size: 2rem ;
    transform: scale(.95);
    color: #000;
}
.prev:hover, .next:hover {
    transform: scale(1.2);
    color: #ff2600b4;
}
.carousel {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}
.images {
    position: relative;

}
.image {
    width: 250px;
    height: 300px;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(.95);
    transition: all .3s ease-in-out;
}
.images:hover img {
    transform: scale(1);
}
.name-price-card {
    position: absolute;
    inset: 0;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    padding: 1rem;
    text-align: center;
    transform: scale(0);
    transition: all .5s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
}
.images:hover .name-price-card {
    inset: 0;
    top: 0;
    transform: scale(1);
}

.name-price-card > span {
    display: block;
    font-size: 1.8rem;
    margin-top: 2rem;
}
.price {
    color: white;
    margin-top: 2rem;
}
.fa-star {
    color: orangered;
    margin-top: 2rem;
}
.food-name {
    color: white;
    margin-top: 2rem;
}
.place-order a {
    text-decoration: none;
    color: orangered;
    background-color: white;
    margin-top: 2rem;
    padding: 5px;
    border-radius: 5px;

}
.place-order a:hover {
    color: white;
    background-color: orangered;
}
.active {
    display: block;
}
.delete {
    display: none;
}

/*==========================================
================SECTION FOUR=================
============================================*/

.section-four {
    background-image: linear-gradient(rgba(250, 250, 250, 0.8), rgba(240, 240, 240, 0.9)), url('../asset/fourthBack/fruits-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 0;
}
.section-four .book-hours {
    text-align: center;
    margin-top: 2rem;
}
.book-hours .booktable {
    color: #ff2600;
    font-weight: 700;
}
.section-four .book-hours h2 {
    padding: 0;
}
.book-hours .phone {
    font-size: 1.5rem;
    color: #ff2600;
    margin-top: 2.5rem;
    display: block;
}
.book-hours .phone .fa-solid {
    border: 1px solid #ff2600;
    padding: .5rem;
    border-radius: 50%;
}
.book-hours .call {
    font-size: 1.1rem;
}
.book-hours .tel {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: #ff2600;
    margin-top: 1rem;
}
.work-period {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
/* .work-period .work-period-left,
.work-period .work-period-right {

} */
.work-period .work-period-left span,
.work-period .work-period-right span {
    display: block;

}
.work-period .work-period-left .open-day,
.work-period .work-period-right .open-day{
    font-size: 1rem;
}
.work-period .work-period-left .open-time,
.work-period .work-period-right .open-time {
    font-size: 1.1rem;
    font-weight: bold;
}

.food-vid {
    margin: 1rem auto;
    width: 80%;
}
.food-vid video {
    width: 100%;
    height: auto;
    border-radius: 3px;
}


/*==========================================
================MEDIA QUERY=================
============================================*/


@media only screen and (min-device-width: 0) {

    /*==========================================
    ================NAVIGATION=================
    ============================================*/
    
    .container {
        padding-top: 0;
        background-position: center;
    }
    .menu {
        display: none;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .logo {
        width: 40px;
        height: 40px;
    }
    .hamburger {
        width: 28px;
        height: 28px;
        display: block;
        color: white;
    }
    .ham {

        width: 25px;
        height: 5px;
        background-color: white;
        display: block;
        margin: 3px auto;
        border-radius: 3px;
        transition: 3s ease-in-out;
        -webkit-transition: 3s ease-in-out;
    }
    
    .hamburger.active .top {
        transform: rotate(45deg) translateY(8px);
    }
    .hamburger.active .middle {
        opacity: 0;
    }
    .hamburger.active .bottom {
        transform: rotate(-45deg) translateY(-8px);
    }

    h2 {
        font-size: 3rem;
        padding: 15px 0;
        margin-bottom: 10px;
    }

    /*==========================================
    ================SECTION ONE=================
    ============================================*/
    .section-one{
        text-align: center;
        color: white;
        padding: 1rem 0;
    }
    .section-one > * {
        padding: 20px 5px;
        margin: 5px 0;
    }
    h1 {
        font-size: 4rem;
    }
    .search-meal {
        padding: 25px 0;
    }

    input {
        padding: 5px 0;
        border: none;
        border-radius: 3px;
    }
    .location-button {
        padding: 5px;
        background-color: #ff2600b4;
        color: white;
        border-radius: 5px;
        border: none;
    }
    .follower-stat {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        padding: 1rem 3rem;
    }
    .fa-brands {
        padding-right: 5px;
        transition: 3s ease-in-out;
    }
    .fa-brands:hover {
        font-weight: 700;
    }
    .fa-facebook-f {
        color: blue;
    }
    .fa-twitter {

    }
    .fa-instagram {

    }
    /*==========================================
    ================SECTION TWO=================
    ============================================*/

    .section-two {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../asset/secondSection/food-s.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        color: white;
        padding: 0 5px;
    }

    .section-two > h2::before {
        content: "About Us";
        font-size: 1rem;
        /* position: absolute; */
        color: #ff2600;
        padding-right: 1rem;

    }
    p {
        font-size: 1.4rem;
        padding: 10px 10px;
        line-height: 2rem;
    }
    .section-two-second-par {
        display: none;
    }
    .discover {
        padding: 10;
    }
    .discover {
        margin: 20px 0;
        padding: 5px 0;
        background-color: #ff2600b4;
        color: white;
        border: none;
        border-radius: 3px;
    }
    .discover .discover-menu {
        text-decoration: none;
        padding: 0 5px;
        color: white;
    }
    .discover .discover-menu i {
        padding: 0 5px;
    }


    /*==========================================
    ================SECTION THREE=================
    ============================================*/


    /*==========================================
    ================SECTION FOUR=================
    ============================================*/


        /*==========================================
    ================SECTION FIVE=================
    ============================================*/
    .section-five {
        text-align: center;
        padding: 2rem 0;
    }
    .section-five h2 {
        padding: 0;
    }
    .section-five .testimonial {
        color: #ff2600;
        font-weight: 700;
    }
    .testimonial-container {

    }
    .detail-carousel {
        display: flex;
        overflow: hidden;
    }
    .customer-one {
        margin: 2rem;
        padding: 1em 0;
        min-width: 90%;
        border: 1px solid #ff2600;
    }
    .customer-one .cus-pic {
        margin: 1rem;
        border: 1px solid red;
    }
    .img-holder {
        width: 50px;
        margin: 0 auto;
    }
    .customer-one .cus-pic img {
        width: 100%;
        /* height: auto; */
        border-radius: 50%;
        padding: 2px;
    }
    .customer-name,
    .customer-jd,
    .star {
        display: block;
        padding: 2px 0;
    }
    .customer-name {
        font-size: 1.2rem;
        font-weight: 700;
        padding-top: 0;
    }
    .customer-jd {
        font-size: .9rem;
    }
    .detail p {
        font-size: 1.5rem;
    }

    /*==========================================
    ================MEDIA QUERY=================
    ============================================*/

}

@media only screen and (min-device-width: 587px) {


    /*==========================================
    ================SECTION ONE=================
    ============================================*/

    .section-one {
        text-align: left;
        padding-left: 1.5rem;
    }
    h1 {
        font-size: 5rem;
    }
    .follower-stat {
        display: inline-block;
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    .follower-stat li {
        display: inline-block;
        padding: 3rem 2rem;
    }

    /*==========================================
    ================SECTION TWO=================
    ============================================*/

    .section-two {
        text-align: center;
    }
    .section-two > h2::before {
        font-size: 1.6rem;
    }

    .section-two p {
        padding: 3rem;
        line-height: 3.2rem;
    }
    .section-two-second-par {
        display: block;
    }

        /*==========================================
    ================SECTION THREE=================
    ============================================*/

        /*==========================================
    ================SECTION FOUR=================
    ============================================*/

        /*==========================================
    ================SECTION FIVE=================
    ============================================*/
}


@media only screen and (min-device-width: 768px) {


    .follower-stat {
        font-size: 1.5rem;
        padding: 1rem 3rem;
    }
    /*==========================================
    ================SECTION ONE=================
    ============================================*/
    .section-one {
        text-align: left;
        padding-left: 4rem;
    }
    h1 {
        font-size: 5.5rem;
    }

    /*==========================================
    ================SECTION TWO=================
    ============================================*/

    .section-two {
        text-align: center;
    }
    
    .section-two h2 {
        font: 3.5rem;
    }
    .section-two p {
        font-size: 2rem;
        padding: 3rem;
        line-height: 3rem;
    }
    .discover .discover-menu {
        padding: 0 10px;
        font-size: 1.5em;
    }
}

@media only screen and (min-device-width: 1023px) {
    .section-one {
        padding-left: 5rem;
    }
    h1 {
        font-size: 7.5rem;
    }
    .follower-stat {
        display: inline-block;
        font-size: 1.5rem;
        /* border: 1px solid red; */
    }

}