* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
.container {
    padding: 0 20px;
    background-color: black;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin: 0 auto;
}
.logo img{
    width: 100px;
    height: 50px;
    color: white;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.nav-list a:hover {
    color: #ff6347;
    transform: scale(1.1);
    background-color: aliceblue;
}
.nav-list a {
    color: white;
    font-size: 1.6rem;
    padding: 3px;
    border-radius: 3px;
}
.nav-list > li,
.nav-symbols li {
    list-style-type: none;
    margin: 0 25px;
    color: white;
}
.nav-list a {
    text-decoration: none;
}
.hamburger {
    width: 27px;
    height: 22px;
    display: none;
}

.ham {
    width: 25px;
    height: 3px;
    margin: 3px 0;
    background-color: white;   
    display: block;
    border-radius: 5px;
    transition: all .3s ease-in-out;

}

/*==========================================
================SECTION ONE=================
============================================*/

.section-one{
    text-align: center;
    color: white;
    padding: 1rem 0;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('../asset/hero/hero-l.jpg');
    background-position: center;
}
/* .section-one > * {
    padding: 20px 5px;
    margin: 5px 0;
} */
h1 {
    font-size: 7rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    padding: 4rem 0;
}
.search-meal {
    padding: 25px 0;
    margin: 25px 0;
}

input {
    padding: 5px 0;
    border: none;
    border-radius: 3px;
    font-size: 1.6rem;
}
.location-button {
    padding: 5px;
    background-color: #ff2600b4;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1.6rem;
}


/*==========================================
================SECTION TWO=================
============================================*/

.section-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../asset/secondSection/food-s.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    border-bottom-right-radius: 5rem ;
    display: flex;
    justify-content:center;
    padding: 3rem;
}
.section-two-container {
    width: 70%;
}
h2 {
    font-size: 2.5rem;
    padding: 15px 0;
    margin-bottom: 10px;
}
.section-two-container::before {
    content: "About Us";
    font-size: 1rem;
    color: #ff2600;
    padding-right: 1rem;
    font-weight: bold;
}
p {
    font-size: 1.6rem;
    padding: 10px 10px;
    line-height: 2rem;
    text-align:start;
}
.section-two-second-par {
    display: block;
}
.discover {
    margin: 20px 0;
    padding: 5px 0;
    background-color: #ff2600b4;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
.discover .discover-menu {
    text-decoration: none;
    padding: 0 5px;
    color: white;
}
.discover .discover-menu i {
    text-decoration: none;
    padding: 0 5px;
    color: white;
}

/*==========================================
================SECTION THREE=================
============================================*/

.section-three {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.order-online, 
.section-three h2 {
    text-align: center;
}
.order-online {
    font-size: 1rem;
    color: #ff2600;
    font-weight: 700;
}
.meal-class {
    margin-bottom: 5px;
    text-align: center;
    margin-top: 2rem;
}
.mealbtn {
    font-size: 1.6rem;
    border: none;
    color: #ff2600b4;
    padding: 0 2px;;
    border-radius: 3px;
    background-color: transparent;
}
.mealbtn-active {
    background-color: #ff2600b4;
    color: white;
}

.all:hover,
.breakfast:hover,
.launch:hover,
.dinner:hover,
.dessert:hover,
.shake:hover {
    color: #000;
    border-top: 1px solid #ff2600b4;
    border-right: 1px solid #ff2600b4;
    border-bottom: none;
    border-left: 1px solid #ff2600b4;
    background-color: #ff2600b4;
}
.meals {
    text-align: center;
}
.carousel-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 820px;
    padding: 5px;
}
.prev, .next {
    font-size: 2rem ;
    transform: scale(.95);
    color: #000;
}
.prev:hover, .next:hover {
    transform: scale(1.2);
    color: #ff2600b4;
}
.carousel {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
    padding: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 4rem;
}
.images {
    position: relative;

}
.image {
    width: 250px;
    height: 300px;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(.95);
    transition: all .3s ease-in-out;
}
.images:hover img {
    transform: scale(1);
}
.name-price-card {
    position: absolute;
    inset: 0;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    padding: 1rem;
    text-align: center;
    transform: scale(0);
    transition: all .5s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
}
.images:hover .name-price-card {
    inset: 0;
    top: 0;
    transform: scale(1);
}

.name-price-card > span {
    display: block;
    font-size: 1.4rem;
    margin-top: 2rem;
}
.price {
    color: white;
    margin-top: 2rem;
}
.fa-star {
    color: orangered;
    margin-top: 2rem;
}
.food-name {
    color: white;
    margin-top: 2rem;
}
.place-order a {
    text-decoration: none;
    color: orangered;
    background-color: white;
    margin-top: 2rem;
    padding: 5px;
    border-radius: 5px;
}
.place-order a:hover {
    color: white;
    background-color: orangered;
}
.active {
    display: block;
}
.delete {
    display: none;
}

/*==========================================
================SECTION FOUR=================
============================================*/

.section-four {
    background-image: linear-gradient(rgba(250, 250, 250, 0.8), rgba(240, 240, 240, 0.9)), url('../asset/fourthBack/fruits-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4rem 0;
}
.section-four .book-hours {
    text-align: center;
    margin-top: 2rem;
}
.book-hours .booktable {
    color: #ff2600;
    font-weight: 700;
    font-size: 1rem;
}
.section-four .book-hours h2 {
    padding: 0;
}
.book-hours .phone {
    font-size: 1.5rem;
    color: #ff2600;
    margin-top: 2.5rem;
    display: block;
}
.book-hours .phone .fa-solid {
    border: 1px solid #ff2600;
    padding: .5rem;
    border-radius: 50%;
}
.book-hours .call {
    font-size: 1.1rem;
}
.book-hours .tel {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    color: #ff2600;
    margin-top: 1rem;
}
.work-period {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.work-period .work-period-left span,
.work-period .work-period-right span {
    display: block;

}
.work-period .work-period-left .open-day,
.work-period .work-period-right .open-day{
    font-size: 1.2rem;
}
.work-period .work-period-left .open-time,
.work-period .work-period-right .open-time {
    font-size: 1.2rem;
    font-weight: bold;
}

.food-vid {
    margin: 1rem auto;
    width: 60%;
}
.food-vid video {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

/*==========================================
================SECTION FIVE=================
============================================*/

.section-five {
    /* height: 100vh; */
    text-align: center;
    padding: 2rem 0;
}

.testimonial-container{
    max-width: 800px;
    margin: 0 auto;
}
.detail-carousel {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.detail-carousel .detail,
.detail-carousel .detail-hidden {
    display: none;
    width: 100%;
    max-width: 800px;
    margin: 2rem;
    padding: 1em 0;
    min-width: 90%;
    border: .1px dashed #ff260033;
    border-radius: 5px;
}
.detail-carousel .detail-show {
    display: block;
}

.detail .cus-pic {
    margin: 1rem;
    padding: 2rem 0;
}
.img-holder {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.detail .cus-pic img {
    width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 2px;
}
.customer-name,
.customer-jd,
.star {
    display: block;
    padding: 2px 0;
}
.customer-name {
    font-size: 1.7rem;
    font-weight: 700;
    padding-top: 0;
}
.customer-jd {
    font-size: 1.6rem;
}
.star {
    font-size: 1.6rem;
}
.detail p {
    font-size: 1.6rem;
}
.section-five .testimonial {
    color: #ff2600;
    font-weight: 700;
    font-size: 1.1rem;
}
.section-five p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}
.dots {
    max-width: 300px;
    height: 11px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
.dotli {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid red;
}
.dotli-active {
    background-color: #ff2600;
}
.dotli-leave {
    background-color: transparent;
}

/*==========================================
================FOOTER=================
============================================*/
#contact {
    height: 6rem;
    background-color: #000;
    color: white;
    font-size: 1.4rem;
    padding: 1rem 0;
}
#contact > div {
    text-align: center;
}
#contact span {
margin-right: 1rem;
}
#contact a {
    color: white;
}
.fa-brands {
    padding-right: 5px;
    transition: 3s ease-in-out;
}
.fa-brands:hover {
    font-weight: 400;
}
.fa-twitter {
    color: white;
}

/*==========================================
================MEDIA QUERY=================
============================================*/



@media only screen and (max-width: 893px) {

    .container {
        height: 70px;
    }
    .hamburger {
        display: block;
    }
    .hamburger.active .top {
        transform: translateY(6px) rotate(-495deg) ;
    }
    .hamburger.active .middle {
        opacity: 0;
    }
    .hamburger.active .bottom  {
        transform: translateY(-6px) rotate(495deg) ;
    }
    .menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
        transition: .3s;
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-symbols {

    }
    .menu.active  {
        left: 0;
    }

    .nav-list > li,
    .nav-symbols > li {
        margin: 16px 0;
    }

    /*==========================================
    ================SECTION ONE=================
    ============================================*/
    .section-one{
        text-align: center;
        color: white;
        padding: 1rem 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('../asset/hero/hero-m.jpg')
    }
    h1 {
        font-size: 5rem;
        margin: 2rem 0;
    }

    /*==========================================
    ================SECTION TWO=================
    ============================================*/

    .section-two {
        padding: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    .section-two h2::before {
        font-size: 1rem;
        position: absolute;
        color: #ff2600;
        margin-top: -1rem;
    }
    p {
        font-size: 1.6rem;
        padding: 10px 10px;
        line-height: 2rem;
    }
    .section-two-second-par {
        display: block;
    }

    .discover {
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
    }
    .discover .discover-menu i {
        padding: 0 5px;
    }
    
    /*==========================================
    ================SECTION THREE=================
    ============================================*/

    .section-three {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .order-online {
        font-size: 1rem;
        color: #ff2600;
        font-weight: 700;
    }
    .section-three h2 {
        padding-top: 0;
        font-size: 2.5rem;
    }
    .order-online, 
    .section-three h2 {
        text-align: center;
    }

    .meal-class {
        margin-bottom: 5px;
        text-align: center;
        margin-top: 2rem;
    }
    .mealbtn {
        font-size: 1.6rem;
    }
    .carousel {
        margin-top: 4rem;
    }


    /*==========================================
    ================SECTION FOUR=================
    ============================================*/

    .section-four {
        border-bottom-left-radius: 15% 4rem;
    }
    .section-four .book-hours {
        text-align: center;
        margin-top: 2.5rem;
    }
    .book-hours .booktable {
        color: #ff2600;
        font-weight: 700;
        font-size: 1rem;
    }
    .section-four .book-hours h2 {
        padding: 0;
    }
    .book-hours .phone {
        font-size: 1.5rem;
        color: #ff2600;
        margin-top: 2.5rem;
        display: block;
    }

    /*==========================================
    ================SECTION FIVE=================
    ============================================*/
    .section-five {
        text-align: center;
        padding: 2rem 0;
    }
    .section-five h2 {
        padding: 0;
        font-size: 2.5rem;
    }
    .testimonial-container{
        width: 80%;
        margin: 0 auto;
    }
    .customer-name {
        font-size: 1.6rem;
        font-weight: 700;
        padding-top: 0;
    }
    .customer-jd {
        font-size: 1.2rem;
    }
    .star {
        font-size: 1.6rem;
    }
    .detail p {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 380px) {

    h1 {
        font-size: 4rem;
        margin: 1rem 0;
    }

    .section-two {
        padding: 3rem .5rem;
    }
    
    .section-two-second-par {
        display: none;
    }

    .mealbtn {
        font-size: 1.4rem;

    }
}

/* @media only screen and (max-width: 371px) {
    .search-meal {
        display: none;
    }
} */